* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cabecera {
	background-image: linear-gradient(to bottom, white , #0F0F0F);

}

nav {
	height: 150px;
	width: 100%;
}

.enlace {
	position: absolute;
	padding: 20px 50 px;
}

.logorealsushi {
	height: 220px;
	width: 100%;
}


header {
	font-family: oswald;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-flex;
	line-height: 80px;
	margin: 0 5px;
}


nav ul li a {
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	font-family: oswald;
	text-transform: uppercase;
}


.slider {
	width: 100%;
	height: auto;
}

main {
	background: #0F0F0F;
	font-family: oswald;

}

.slider {
	padding-right: 20;
	padding-bottom: 0;
}

.parrafoslider {
	font-size: 40px;
	padding-top: 150;
	padding-right: 20;
	padding-bottom: 0;
}

.aside-cont {
	display: flex;
	flex-direction: column;
}

.aside-item {
	background-color: #0F0F0F;
	color: white;
	margin: 5px;
	height: 120px;
	width: 120px;
	justify-content: flex-end;
}

h1 {
	font-size: 40px;
	font-family: oswald;
	color: red;
}

h2 {
	font-family: oswald;
	color: white;
}

h3 {
	font-family: oswald;
	color: white;
}

p {
	font-family: oswald;
	color: white;
	background: #0F0F0F;
}

span {
	font-family: oswald;
	color: white;
}

.main-galeria {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: oswald;
	box-sizing: border-box;
	display: flex;
	row-gap: 20px;
	column-gap: 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

aside {
	color: red;
	background: #0F0F0F;
	font-family: oswald
}

footer {
	height: auto;
	width: 100%;
	background: #0F0F0F;
	color: red;
	font-family: oswald;
	font-size: 15px;
}

.contenedor-nosotros {
	display: flex;

}

.item-nosotros {
	row-gap: 20px;
	column-gap: 19px;
	flex-wrap: wrap;
}

.maps {
	width: 100%;
}

header nav ul li a {
	list-style: none;
	color: red;
	text-decoration: none;
}

li a.active,
li a:hover {
	background: #0F0F0F;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: red;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 952px) {
	.enlace {
		padding-left: 20px;
	}
}

nav ul li a {
	font-size: 16px;
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}

	ul {
		position: fixed;
		width: 100%;
		height: 10vh;
		background: #0F0F0F;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;

	}

	nav ul li a {
		font-size: 20px;
	}

	li a:hover,
	li a.active {
		background: none;
		color: red;
	}

	#check:checked~ul {
		left: 0;
	}
}