@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Sans-Serif;
  background-color: #0f0f0f;
}

nav {
  height: 150px;
  width: 100%;
  background-color: #0f0f0f;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-flex;
  line-height: 80px;
  margin: 25px 15px 5px;
}
nav ul li a {
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: "Roboto", Sans-Serif;
  text-transform: uppercase;
}

main h1 {
  display: flex;
  font-size: 50px;
  background-color: #0f0f0f;
  color: rgb(145, 27, 27);
}
main h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  background-color: #0f0f0f;
}
main p {
  font-size: 20px;
  font-family: "Roboto", Sans-Serif;
  color: white;
}
main .realsushi {
  display: flex;
  justify-content: center;
  color: rgb(145, 27, 27);
  background-color: #0f0f0f;
  font-size: 50px;
  padding-top: 10px;
}

aside {
  color: rgb(145, 27, 27);
  font-family: "Roboto", Sans-Serif;
}
aside .aside-cont {
  display: flex;
  flex-direction: column;
  height: 200px;
}
aside .aside-item {
  color: white;
  margin: 5px;
  height: 10px;
  width: 120px;
  justify-content: flex-end;
}

footer {
  padding-top: 50px;
  height: auto;
  width: 100%;
  font-family: "Roboto", Sans-Serif;
  font-size: 15px;
}
footer h2 {
  display: flex;
  justify-content: center;
  color: rgb(145, 27, 27);
  font-size: 30px;
  background-color: #0f0f0f;
}

.cont-footer {
  display: grid;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}
.cont-footer .footer-texto {
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: white;
}
.cont-footer .footer-texto .copyright {
  display: flex;
  justify-content: center;
}

.enlace {
  position: absolute;
}
.enlace .logorealsushi {
  height: 150px;
  width: 100%;
}

.parrafoslider {
  display: grid;
  justify-content: center;
  font-size: 40px;
  padding-top: 150;
  padding-right: 20;
  padding-bottom: 0;
}

.listaslider {
  color: white;
  text-decoration: none;
}

.botonvisita {
  display: grid;
  justify-content: center;
  grid-row-gap: 30px;
}

.contenedor-nosotros {
  display: grid;
  height: auto;
  justify-content: center;
  grid-row-gap: 10px;
  width: auto;
  background-color: #0f0f0f;
  font-size: 17px;
  margin: 0px;
  padding-bottom: 20px;
  overflow: hidden;
}
.contenedor-nosotros .titulojetivo {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.contenedor-nosotros .item-nosotros {
  display: grid;
  justify-content: center;
  font-size: 15px;
  background: rgb(36, 30, 30);
  padding: 10px;
  margin: 20px 100px;
  border-radius: 4%;
}
.contenedor-nosotros .titulonososotros {
  background-color: rgb(36, 30, 30);
  color: rgb(145, 27, 27);
}

.promos {
  display: grid;
  justify-content: center;
  grid-row-gap: 50px;
}

span {
  font-family: "Roboto", Sans-Serif;
  color: white;
}

.btn btn-secondary btn-lg {
  display: grid;
  justify-content: center;
  grid-row-gap: 50px;
}

.titulocarta {
  display: flex;
  justify-content: center;
  color: rgb(145, 27, 27);
  background-color: #0f0f0f;
  font-size: 50px;
}

.carta {
  display: grid;
  justify-content: center;
  background: rgb(36, 30, 30);
  font-size: 15px;
  padding: 10px;
  margin: 20px 5px;
  border-radius: 5%;
}

.subtitulomenu {
  justify-content: center;
  background: rgb(36, 30, 30);
}

.titulo-main {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.main-galeria {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", Sans-Serif;
  box-sizing: border-box;
  display: flex;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.opcionesmenu {
  background-color: rgb(36, 30, 30);
}

.platospopulares {
  display: grid;
  justify-content: center;
  grid-row-gap: 50px;
  overflow: hidden;
}

.cont-contactos {
  background-color: #0f0f0f;
  display: grid;
  justify-content: center;
  grid-row-gap: 15px;
}

.maps {
  background-color: rgb(36, 30, 30);
  width: 100%;
  border-radius: 2.5%;
}

.formularioreserva {
  display: flex;
  justify-content: center;
  background: rgb(36, 30, 30);
  font-size: 17px;
  padding: 10px;
  margin: 20px 5px;
  border-radius: 2.5%;
}

/* menú responsive */
header nav ul li a {
  list-style: none;
  color: rgb(145, 27, 27);
  text-decoration: none;
}

li a.active,
li a:hover {
  background-color: #0f0f0f;
  transition: 0.5s;
}

.checkbtn {
  color: rgb(145, 27, 27);
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  font-family: "Roboto", Sans-Serif;
  background: #0f0f0f;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
}
nav ul li a {
  font-size: 16px;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 150vh;
    background-color: #0f0f0f;
    top: 150px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    z-index: 5;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
    background-color: #0f0f0f;
  }
  nav ul li a {
    font-size: 30px;
  }
  li a:hover,
li a.active {
    background-color: #0f0f0f;
    color: rgb(145, 27, 27);
  }
  #check:checked ~ ul {
    left: 0;
  }
}/*# sourceMappingURL=styles.css.map */